html {
    position: relative;
    min-height: 100%;
}

body {
    background: white;
    margin: 0;
    padding: 0px;
}

h1 {
    font-family: serif;
    color: #0398fc;
    margin: 1rem 0; }

header {
    background-color: white;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 30px;
    left: 0px;
    overflow: auto;
    color: #0498fc;
    height: 70px;
    width: 100%;
}

footer {
    background-color: #ffffff;
    color: #0498fc;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 80%;
    overflow: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 50px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #0498fc;
  color: white;
}

li a.bottom {
  bottom: 0;
  position: fixed;
  width: 130px;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.bottom-three {
  margin-bottom: 3em;
}

.upload {
  float: left;
  border: solid #c9c9c9;
  border-width: 1 1px;
  text-align: center;
  margin: 1em;
  width: 30%;
  height: 20em;
  padding: 1em;
}
