{% extends "layout.html" %}

{% block title %}Daten anlegen{% endblock %}

{% block header %}Daten anlegen{% endblock %}

{% block body %}
	<p>Zuordnungen können auf mehreren Wegen erstellt werden.</p>
	{% if request.args.get('items_saved') %}
		<p>{{ request.args.get('items_saved') }} Einträge gespeichert!</p>
	{% endif %}

	<div class="upload">
		<h3>Teilnehmerliste anlegen</h3>
		<form method=post action="{{ url_for('create.teilnehmer') }}" enctype=multipart/form-data>
			<label for="list_name">Name der Teilnehmerliste:</label>
			<input type="text" id="list_name" name="list_name"></input>
    		<input class='button' type=file name=file accept=".txt,.csv">
			<input type=submit value=Upload>
    	</form>
	</div>
	<div class="upload">
		<h3>Themen / Gruppen anlegen</h3>
		<form method=post action="{{ url_for('create.themen') }}" enctype=multipart/form-data>
			<label for="themen_name">Name der Themen / Gruppen:</label>
			<input type="text" id="themen_name" name="themen_name"></input>
			<br>
			<label for="max_teilnehmer">Teilnehmer pro Gruppe:</label>
			<input type="text" id="max_teilnehmer" name="max_teilnehmer"></input>
    		<input class='button' type=file name=file accept=".txt,.csv">
			<input type=submit value=Upload>
    	</form>
	</div>

{% endblock %}