{% extends "layout.html" %}

{% block title %}Verteilung erstellen{% endblock %}

{% block header %}Verteilung erstellen{% endblock %}

{% block body %}

<div id="app">
	{% if (themen|length > 0) and (teilnehmer|length == 0) and session['is_authenticated'] == True %}

	<div class="mb-3">
		<h5 class="mb-3">Von bestehenden Daten</h5>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			<form method=post action="{{ url_for('share.index') }}" enctype="multipart/form-data">

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<span class="input-group-text w-100">Name</span>
					</div>
					<input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
				</div>

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<span class="input-group-text w-100">Gruppenliste</span>
					</div>
					<select class="custom-select" name="thema" id="thema">
						{% for thema in themen %}
						<option value="{{thema.id}}">{{thema.name}}</option>
						{% endfor %}
					</select>
				</div>
				{% for thema in themen %}
				<input type="hidden" name="" id="number_themen{{thema.id}}" value="{{thema.themen | length}}">
				{% endfor %}


				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<span class="input-group-text w-100"># / Gruppe</span>
					</div>
					<input type="number" @change="onChangeMaxPer($event)" v-model="max_per" id="max_per" name="max_per" class="form-control" value="1">
				</div>

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<span class="input-group-text w-100">Mindeststimmen</span>
					</div>
					<input type="number" @change="onChangeMinVotes($event)" v-model="min_votes" id="min_votes" name="min_votes" class="form-control" value="1">
				</div>

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<div class="input-group-text w-100">
							<input type="checkbox" name="veto_allowed" id="veto_allowed" aria-label="Checkbox for following text input" checked>
						</div>
					</div>
					<span class="form-control">Veto erlaubt</span>
				</div>

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<div class="input-group-text w-100">
							<input type="checkbox" @change="onChangeProtected()" name="protected" id="protected" aria-label="Checkbox for following text input" disabled>
						</div>
					</div>
					<span class="form-control">geschützt</span>
				</div>

				<div class="input-group mb-2">
					<input class="btn btn-primary" type="submit" value="Erstellen">
				</div>

			</form>
		</div>
	</div>

	{% endif %}
	{% if (themen|length > 0) and (teilnehmer|length > 0) and session['is_authenticated'] == True %}

	<div class="mb-3">
		<h5 class="mb-3">Von bestehenden Daten</h5>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			<form method=post action="{{ url_for('share.index') }}" enctype="multipart/form-data">

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<span class="input-group-text w-100">Name</span>
					</div>
					<input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
				</div>

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<span class="input-group-text w-100">Gruppenliste</span>
					</div>
					<select class="custom-select" name="thema" id="thema">
						{% for thema in themen %}
						<option value="{{thema.id}}">{{thema.name}}</option>

						{% endfor %}
					</select>
				</div>
				{% for thema in themen %}
				<input type="hidden" name="" id="number_themen{{thema.id}}" value="{{thema.themen | length}}">
				{% endfor %}

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<span class="input-group-text w-100"># / Gruppe</span>
					</div>
					<input type="number" @change="onChangeMaxPer($event)" v-model="max_per" id="max_per" name="max_per" class="form-control" value="1">
				</div>

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<span class="input-group-text w-100">Mindeststimmen</span>
					</div>
					<input type="number" @change="onChangeMinVotes($event)" v-model="min_votes" id="min_votes" name="min_votes" class="form-control" value="1">
				</div>

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<div class="input-group-text w-100">
							<input type="checkbox" name="veto_allowed" id="veto_allowed" aria-label="Checkbox for following text input" checked>
						</div>
					</div>
					<span class="form-control">Veto erlaubt</span>
				</div>

				<div class="input-group mb-2">
					<div class="input-group-prepend w-25">
						<div class="input-group-text w-100">
							<input type="checkbox" @change="onChangeProtected()" name="protected" id="protected" v-model="protected" aria-label="Checkbox for following text input" checked>
						</div>
					</div>
					<span class="form-control">geschützt</span>
				</div>

				<template v-if="protected">
					<div class="input-group mb-2">
						<div class="input-group-prepend w-25">
							<span class="input-group-text w-100">Teilnehmerliste</span>
						</div>
						<select class="custom-select" name="teilnehmer" id="teilnehmer" required>
							{% for teilnehmer_list in teilnehmer %}
							<option value="{{teilnehmer_list.id}}">{{teilnehmer_list.name}}</option>
							{% endfor %}
						</select>
					</div>
					{% for teilnehmer_list in teilnehmer %}
					<input type="hidden" name="" id="number_teilnehmer{{teilnehmer_list.id}}" value="{{teilnehmer_list.teilnehmer | length}}">
					{% endfor %}

					<div class="input-group mb-2">
						<div class="input-group-prepend w-25">
							<div class="input-group-text w-100">
								<input type="checkbox" name="editable" id="editable" aria-label="Checkbox for following text input">
							</div>
						</div>
						<span class="form-control">editierbar</span>
					</div>
				</template>
				<template v-if="! within_limit">
					<div class="alert alert-danger" role="alert">
						Mit der momentanen Auswahl gibt es nicht genug Themen für alle Teilnehmer.<br>
						Die Verteilung kann nicht erstellt werden.<br>
						Versuche, die erlaubten Teilnehmer pro Gruppe zu erhöhen (<i># / Gruppe</i>).
					</div>
					<div class="input-group mb-2">
						<input class="btn btn-primary" type="submit" value="Erstellen" disabled>
					</div>
				</template>

				<template v-if="within_limit">
					<div class="input-group mb-2">
						<input class="btn btn-primary" type="submit" value="Erstellen">
					</div>
				</template>

			</form>
		</div>
	</div>


	{% endif %}

</div>

{% if (themen|length == 0) and (teilnehmer|length == 0) and session['is_authenticated'] == True %}

<div class="alert alert-danger" role="alert">
	Es exisiteren keine Daten, aus denen eine Verteilung erstellt werden kann.<br>
	<a class="btn btn-primary" href="{{url_for('upload.index')}}">Hier kannst du Daten anlegen
	</a>
</div>

{% endif %}

{% endblock %}

{% if (themen|length > 0) and (teilnehmer|length >= 0) and session['is_authenticated'] == True%}

{% block vuejs %}
{{ super() }}

<script type="text/javascript">


	var app = new Vue({
		el: "#app",
		delimiters: ['${', '}'],
		data: {
			// wether the verteilung is protected
			protected: true,
			// how many teilnehmer per thema?
			max_per: 1,
			// how many präferenzen each teilnehmer has to enter
			min_votes: 1,
			// wether there are enough slots for all the teilnehmer
			within_limit: true,
			// number of themen of a specific themenList
			numberOfThemen: 1,
			// number of teilnehmer of a specific teilnehmerList
			numberOfTeilnehmer: 1
		},
		methods: {
			/**
			* called when max_per value is changed
			* makes sure that the value is never below 1, makes a call to update()
			* @param {event} event the click event
			*/
			onChangeMaxPer(event) {
				if (event.target.value <= 0) {
					this.max_per = 1
				}
				this.update()
			},
			/**
			* called then value of is_protected is changed,
			* calls update()
			*/
			onChangeProtected() {
				this.update()
			},
			/**
			* called when min_votes value is changed.
			* makes sure that the is always greater than 0 and less than the number of themen
			* as you cant prioritize more than there is
			* makes a call to update()
			* @param {event} event the click event
			*/
			onChangeMinVotes(event) {
				if (event.target.value <= 0) {
					this.min_votes = 1
				}
				if (event.target.value > this.numberOfThemen || event.target.value > 10) {
					this.min_votes = event.target.value - 1
				}
				this.update()
			},
			/**
			* updates the within_limit value.
			* within_limit is always true when the verteilung is not protected
			* otherwise it depends on wether number of teilnehmer is less or equal
			* the number of themen times max_per
			*/
			update() {
				this.within_limit = this.protected ? this.numberOfTeilnehmer <= this.numberOfThemen * this.max_per : true
			}
		},
		/**
		* reads data from hidden fields, stores them in vue data.
		*/
		mounted() {
			var selectedTeilnehmerValue = document.getElementById("teilnehmer")
			var selectedThemenValue = document.getElementById("thema")
			if (selectedThemenValue != null) {
				selectedThemenValue = selectedThemenValue.value
				this.numberOfThemen = document.getElementById("number_themen" + selectedThemenValue).value
			}
			if (selectedTeilnehmerValue != null) {
				selectedTeilnehmerValue = selectedTeilnehmerValue.value
				this.numberOfTeilnehmer = document.getElementById("number_teilnehmer" + selectedTeilnehmerValue).value
			}
			this.update()
		},
	});

</script>
{% endblock %}
{% endif %}