{% extends "layout.html" %}

{% block head %}
{{super()}}
<style> tr.hide-table-padding td {
	padding: 0;
}
</style>

{% endblock %}

{% block title %}Angelegte Daten{% endblock %}

{% block header %}Angelegte Daten{% endblock %}

{% block body %}

{% if teilnehmer_lists %}

<h4>Teilnehmer-Listen</h4>
<div class="table-responsive mb-3">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th style="width: 10%">#</th>
				<th style="width: 78%">Name</th>
				<th style="width: 12%">Aktion</th>
			</tr>
		</thead>
		<tbody>
			{% for teilnehmer_list in teilnehmer_lists %}
			<tr data-toggle="collapse" data-target="#subtable_teilnehmer_{{teilnehmer_list.id}}" class="clickable">
				<td>{{teilnehmer_list.id}}</td>
				<td>{{teilnehmer_list.name}}</td>
				<td>
					<a class="btn btn-sm btn-danger" href="{{ url_for('edit.delete', id=teilnehmer_list.id, type='teilnehmer') }}">Löschen</a>
				</td>
			</tr>
			<tr class="hide-table-padding">
				<td colspan="3">
					<div id="subtable_teilnehmer_{{teilnehmer_list.id}}" class="collapse">
						<table class="table table-striped" tyle="width:100%">
							<thead>
								<tr>
									<th style="width: 10%">#</th>
									<th style="width: 20%">Matr.Nr</th>
									<th style="width: 35%">Nachname</th>
									<th style="width: 35%">Vorname</th>
								</tr>
							</thead>
							<tbody>
								{% for teil in teilnehmer %}
								{% if teil.list_id == teilnehmer_list.id %}
								<tr>
									<td>{{teil.id}}</td>
									<td>{{teil.matr_nr}}</td>
									<td>{{teil.last_name}}</td>
									<td>{{teil.first_name}}</td>
								</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

{% if thema_lists %}

<h4>Gruppen / Themen-Listen</h4>
<div class="table-responsive mb-3">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th style="width: 10%">#</th>
				<th style="width: 78%">Name</th>
				<th style="width: 12%">Aktion</th>
			</tr>
		</thead>
		<tbody>

			{% for thema_list in thema_lists %}

			<tr data-toggle="collapse" data-target="#subtable_thema_{{thema_list.id}}" class="clickable">
				<td>{{thema_list.id}}</td>
				<td>{{thema_list.name}}</td>
				<td>
					<a class="btn btn-sm btn-danger" href="{{ url_for('edit.delete', id=thema_list.id, type='thema') }}">Löschen</a>
				</td>
			</tr>
			<tr class="hide-table-padding">
				<td colspan="3">
					<div id="subtable_thema_{{thema_list.id}}" class="collapse">
						<table class="table table-striped" tyle="width:100%">
							<thead>
								<tr>
									<th style="width: 10%">#</th>
									<th style="width: 30%">Name</th>
									<th style="width: 30%">Betreuer</th>
									<th style="width: 30%">Zeit</th>
								</tr>
							</thead>
							<tbody>

								{% for thema in themen %}

								{% if thema.list_id == thema_list.id %}

								<tr>
									<td>{{thema.id}}</td>
									<td>{{thema.thema_name}}</td>
									<td>{{thema.betreuer}}</td>
									<td>{{thema.zeit}}</td>
								</tr>

								{% endif %}

								{% endfor %}

							</tbody>
						</table>
					</div>
				</td>
			</tr>

			{% endfor %}

		</tbody>
	</table>
</div>

{% endif %}

{% if verteilungen %}

<h4>Verteilungen</h4>
<div class="table-responsive mb-3">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th style="width: 10">#</th>
				<th style="width: 14%">Name</th>
				<th style="width: 10%"># Teilnehmer</th>
				<th style="width: 10%"># Themen</th>
				<th style="width: 10%"># / Gruppe</th>
				<th style="width: 10%">Min-Votes</th>
				<th style="width: 6%">
					<span data-feather="x-octagon"></span>
				</th>
				<th style="width: 6%">
					<span data-feather="edit"></span>
				</th>
				<th style="width: 6%">
					<span data-feather="lock"></span>
				</th>
				<th style="width: 6%">
					<span data-feather="user"></span>
				</th>
				<th style="width: 12%">Aktion</th>
			</tr>
		</thead>
		<tbody>

			{% for verteilung in verteilungen %}

			<tr>
				<td>{{verteilung.id}}</td>
				<td>{{verteilung.name}}</td>
				<td>{{verteilung.teilnehmer.id}}</td>
				<td>{{verteilung.thema_list.id}}</td>
				<td>{{verteilung.max_teilnehmer_per_thema}}</td>
				<td>{{verteilung.min_votes}}</td>
				<td>
					{% if verteilung.veto_allowed %}
					Ja
					{% else %}
					Nein
					{% endif %}
				</td>
				<td>
					{% if verteilung.editable %}
					Ja
					{% else %}
					Nein
					{% endif %}
				</td>
				<td>
					{% if verteilung.protected %}
					Ja
					{% else %}
					Nein
					{% endif %}
				</td>
				<td>{{verteilung.praeferenzen | length}} / {{verteilung.teilnehmer.teilnehmer | length}}</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Aktionen
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

							<a class="dropdown-item" href="{{ url_for('edit.action', verteilung_id=verteilung.id, action='teilen') }}">Teilen</a>

							<a class="dropdown-item" href="{{ url_for('edit.action', verteilung_id=verteilung.id, action='löschen') }}">Löschen</a>
						</div>
					</div>
				</td>
			</tr>

			{% endfor %}

		</tbody>
	</table>
</div>

{% endif %}

{% if (teilnehmer_lists or thema_lists or verteilungen) %}
<div class="mb-5"></div>

<h4>Legende</h4>
<div class="table-responsive mb-3">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th style="width: 15%">Symbol</th>
				<th style="width: 85%">Erklärung</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>#</td>
				<td>Die interne Id eines Datenbank-Eintrags. Kann dafür benutzt werden, um herauszufinden, aus welchen Teilnehmern und Gruppen eine Verteilung besteht.</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>Der Name einer Teilnehmer-Liste / Gruppen-Liste / Verteilung.</td>
			</tr>
			{% if verteilungen %}
			<tr>
				<td># Teilnehmer</td>
				<td>Die Id der TeilnehmerListe, die zu der Verteilung gehört.</td>
			</tr>
			<tr>
				<td># Themen</td>
				<td>Die Id der ThemenListe, die zu der Verteilung gehört.</td>
			</tr>
			<tr>
				<td># / Gruppe</td>
				<td>Die maximale Anzahl von Teilnehmer pro Gruppe / Thema.</td>
			</tr>
			<tr>
				<td>Min-Votes</td>
				<td>Die minimale Anzahl an Stimmen, die jeder Teilnehmer beim Abgeben der Präferenzen setzen muss.</td>
			</tr>
			<tr>
				<td><span data-feather="x-octagon"></span></td>
				<td>Gibt an, ob die Verteilung die Vergabe eines Vetos erlaubt.</td>
			</tr>
			<tr>
				<td><span data-feather="edit"></span></td>
				<td>Gibt an, ob die Präferenzen der Teilnehmer im Nachhinein nach bearbeitet werden dürfen.</td>
			</tr>
			<tr>
				<td><span data-feather="lock"></span></td>
				<td>Gibt an, ob die Verteilung geschützt ist, also ob sich Teilnehmer mit ihrer Matrikelnummer anmelden müssen.</td>
			</tr>
			<tr>
				<td><span data-feather="user"></span></td>
				<td>Gibt an, wieviele der Teilnehmer schon ihre Präferenzen abgegeben haben.</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>

{% endif %}

{% endblock %}