{% extends "layout.html" %}

{% block title %}Verteilung auswerten{% endblock %}

{% block header %}Verteilung auswerten{% endblock %}

{% block body %}

{% if error %}

<div class="alert alert-danger" role="alert">
	{{error}}
</div>
{% endif %}

{% if session['is_authenticated'] == True %}

<div id="app" class="mb-5">

	{% if verteilungen and session['is_authenticated'] == True %}

	<h5>Wähle eine Verteilung, die du auswerten willst:</h5>

	<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
		<form method=post action="{{ url_for('evaluate.from_db') }}" enctype="multipart/form-data">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text">Name der Verteilung</span>
				</div>
				<select @change="onChange()" class="custom-select" name="verteilung" id="verteilung">
					{% for verteilung in verteilungen %}
					<option value="{{verteilung.id}}">{{verteilung.name}}</option>
					{% endfor %}
				</select>
			</div>

			{% for verteilung in verteilungen %}

			<input type="hidden" id="information" name="information{{verteilung.id}}" value='{
			"numberOfTeilnehmer": "{{verteilung.teilnehmer.teilnehmer | length}}",
			"numberOfPraefs": "{{verteilung.praeferenzen | length}}",
			"obergrenze": "{{verteilung.max_teilnehmer_per_thema * verteilung.thema_list.themen|length}}",
			"auslastung": "{{verteilung.teilnehmer.teilnehmer|length}}"}'>

			{% endfor %}

			<div v-if="(current / total < 0.8)">
				<div class="alert alert-danger" role="alert">
					Von ${total} Teilnehmer haben ${current} ihre Präferenzen angegeben. Sicher, dass du auswerten möchtest?
				</div>
			</div>

			<div v-if="total <= 0">
				<div class="alert alert-danger" role="alert">
					Kein Teilnehmer hat seine Präferenzen für diese Verteilung angegeben.<br>Da dies eine freue Verteilung ist, existiert keine Teilnehmerliste. Sie kann nicht ausgewertet werden.
				</div>
				<div class="input-group mb-2">
					<input class="btn btn-primary" type="submit" value="Auswerten" disabled>
				</div>
			</div>

			<div v-if="! within_limit">
				<div class="alert alert-danger" role="alert">
					Es haben mehr Teilnehmer an der Verteilung teilgenommen, als es Plätze gibt.<br>Die Verteilung kann nicht ausgewertet werden.
				</div>
				<div class="input-group mb-2">
					<input class="btn btn-primary" type="submit" value="Auswerten" disabled>
				</div>
			</div>

			<div v-if="total > 0 && within_limit">
				<div class="input-group mb-2">
					<input class="btn btn-primary" type="submit" value="Auswerten">
				</div>
			</div>

		</form>
	</div>
</div>

{% elif session['is_authenticated'] == True %}

<div class="alert alert-danger" role="alert">
	Es existieren keine Verteilungen.<br>
	<a class="btn btn-primary" href="{{url_for('create.index')}}">Leg schnell eine an</a>
</div>

{% endif %}
{% endif %}

<div class="mb-5">
	<h5 class="mb-3">
		{% if session['is_authenticated'] == True %}
	Oder e{% else %}E{% endif %}rstelle eine Auswertung aus bereits angegebene Präferenzen in .csv Format*</h5>
	<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
		<form method=post action="{{ url_for('evaluate.csv_upload') }}" enctype=multipart/form-data>
			<div class="mb-2">
				<input class='button mb' type=file name=file accept=".txt,.csv" required>
			</div>
			<input class="btn btn-primary" type="submit" value="Auswerten">
		</form>
	</div>
</div>

* Informationen zu zulässigen Dateien und Formaten gibt es <a href="https://github.com/felix-wolf/MatchFinder/blob/master/dokumentation/fachliches.md#verteilung-aus-einer-datei-auswerten">hier.</a>

{% endblock %}

{% block vuejs %}

{% if session['is_authenticated'] == True %}

{{ super() }}
<script type="text/javascript">

	var app = new Vue({
		el: "#app",
		delimiters: ['${', '}'],
		data: {
			current: 0,
			total: 0,
			within_limit: true
		},
		methods: {
			update() {
				const jsonData = document.getElementById("information").value
				const json = JSON.parse(jsonData)
				this.total = json["numberOfTeilnehmer"]
				this.current = json["numberOfPraefs"]
				const obergrenze = parseInt(json["obergrenze"])
				const auslastung = parseInt(json["auslastung"])
				this.within_limit = auslastung <= obergrenze
			},
			onChange() {
				this.update()
			}
		},
		beforeMount() {
			this.update()
		}
	})

</script>
{% endif %}
{% endblock %}