{% extends "layout.html" %}

{% block title %}Verteilung auswerten{% endblock %}

{% block header %}Verteilung auswerten{% endblock %}

{% block body %}

{% if error %}

<div class="alert alert-danger" role="alert">
	{{error}}
</div>
{% endif %}

<h5>Wähle eine Verteilung, die du auswerten willst:</h5>
<div class="mb-5">
	<div class="form-row align-items-center mb-3">
		<form method=post action="{{ url_for('preference.validate') }}" enctype="multipart/form-data">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="validationTooltipUsernamePrepend">Matrikelnnummer</span>
				</div>
				<input type="text" id="matr_nr" name="matr_nr" class="form-control" placeholder="Matrikelnnummer" required>
				<input type="hidden" id="id" name="id" value="{{id}}">
			</div>
			<div class="input-group mb-2">
				<input class="btn btn-primary" type="submit" value="Anmelden">
			</div>
		</form>
	</div>
</div>
<p>Von X Teilnehmer haben Y ihre Präferenzen angegeben. Sicher, dass du auswerten möchtest?</p>

{% endblock %}