{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block header %}Home{% endblock %}

{% block body %}

{% if message %}

	<div class="alert alert-success" role="alert">
		{{message}}
	</div>
{% endif %}

<h4>Herzlich Willkommen bei MatchFinder!</h4>

<p>Dieser Dienst hilft Dir, Teilnehmer einer Veranstaltung fair auf die Themen oder Gruppen dieser Veranstaltung zu verteilen.</p>

<p>Wenn Du die benötigten Berechtigungen hast, kannst Du Dich oben rechts authentifizieren.</p>

<p>Über den Menüpunkt Verteilung auswerten kann Du eine Verteilung als Datei hochladen und auswerten lassen.</p>

<p>Was all diese Begriffe bedeuten und was die Seite sonst noch für Funktionen hat findest du in der <a href="https://github.com/felix-wolf/MatchFinder">Dokumentation auf GitHub</a>.<br>Dort kannst du auch von Problemen berichten oder dir Funktionen wünschen.</p>

<h6>Viel Spaß!</h6>

{% endblock %}