{% extends "layout.html" %}

{% block title %}Prioritäten setzen{% endblock %}

{% block header %}Prioritäten setzen{% endblock %}

{% block body %}
<div id="app">
	<h5 v-if="neededAnswers == 1">Hallo {{teilnehmer.first_name}}, bitte gebe deine Präferenzen an. Du musst mindestens eine Angabe machen.</h5>
	<h5 v-else>Hallo {{teilnehmer.first_name}}, bitte gebe deine Präferenzen an. Du musst mindestens ${neededAnswers} Angaben machen.</h5>
	<form method=post action="{{ url_for('preference.save') }}" enctype=multipart/form-data>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			{% for thema in themen %}
			<div class="input-group mb-2">
				<div class="input-group-prepend w-50">
					<span class="text-left input-group-text w-100">{{thema.thema_name}}{%if thema.zeit != ""%},<br>Zeit: {{thema.zeit}}{% endif %}{%if thema.zeit != "" %},<br>Betreuer: {{thema.betreuer}}{% endif %}</span>
				</div>
				<select @change="onChange($event)" class="form-control custom-select mr-sm-2" tag="selector" name="{{loop.index}}" id="{{loop.index}}">
					<option v-for="(item, index) in validOptions({{loop.index}})">
						${item}
					</option>
				</select>
			</div>
			{% endfor %}
			<input type="hidden" id="information" name="information" value='{"teilnehmer_id": "{{teilnehmer.id}}","verteilung_id":"{{verteilung_id}}"}'>
			<input v-if="allNeededAnswersGiven" class="btn btn-primary" type="submit" value="Speichern">
		</div>
	</form>
</div>
{% endblock %}

{% block vuejs %}
{{ super() }}

<script type="text/javascript">
	var veto = '{"teilnehmerId": "{{teilnehmer.id}}","verteilungId":"{{verteilung_id}}", "veto_allowed":"{{veto_allowed}}", "min_votes": "{{min_votes}}", "numberOfAnswers":"{{themen|length}}"}'
</script>
<script type="text/javascript">


	var app = new Vue({
		el: "#app",
		delimiters: ['${', '}'],
		data: {
			infoJson: null,
			allNeededAnswersGiven: false,
			neededAnswers: 0,
			options: [
			["Keine Präferenz", "", true],
			["Erstwahl", "", false],
			["Zweitwahl", "", false],
			["Drittwahl", "", false],
			["Viertwahl", "", false],
			["Fünftwahl", "", false],
			["Sechstwahl", "", false],
			["Siebtwahl", "", false],
			["Achtwahl", "", false],
			["Neuntwahl", "", false],
			["Zehntwahl", "", false],
			["Veto", "", false]
			],
		},
		methods: {
			// restrict numbers of choices
			// deletes veto option if not allowed
			configureAnswers() {
				const numberOfAnswers = this.infoJson["numberOfAnswers"]
				if (numberOfAnswers < 10) {
					const startIndex = parseInt(numberOfAnswers) + 1
					this.options.splice(startIndex, this.options.length - startIndex - 1)
				}
				if (this.infoJson["veto_allowed"] == false) {
					for (i = 0; i < this.options.length; i++) {
						if (this.options[i][0] == "Veto") {
							this.options.splice(i, 1)
							break
						}
					}
				}
			},
			// returns valid option specific to the thema
			// passed as object
			validOptions(object) {
				return this.options.filter(
					f => f[2] == true || f[1] == "" || f[1] == object
					).map(e => e[0])
			},
			// called when an option is selected
			// handles the logic of removing option from other answers
			// when it is selected by one.
			// It does so by storing values in the this.option data type.
			// In nextTick(), every answer gets its selected value to avoid
			// weird sideeffects of changing the underlying model to a select element
			onChange(event) {
				const target = event.target
				const value = target.value

				for (i = 0; i < this.options.length; i++) {

					if (this.options[i][1] == target.id) {
						this.$set(this.options[i], 1, "")
					}
				}

				if (value != "Keine Präferenz") {

					for (i = 0; i < this.options.length; i++) {
						if (this.options[i][0] == value) {
							this.$set(this.options[i], 1, target.id)
						}
					}

				}
				// make sure every select element has the correct
				// answer selected
				this.$nextTick(() => {

					for (i = 1; i <= {{themen | length}}; i++) {

						const element = document.getElementById(i)
						var index = 0
						for (j = 0; j < this.options.length; j++) {
							if (this.options[j][1] == element.id) {
								break
							}
							if (this.options[j][1] == "") {
								index++
							}
						}

						var numberOfOptions = 0
						for (j = 0; j < this.options.length; j++) {
							if (this.options[j][1] == "" || this.options[j][1] == element.id) {
								numberOfOptions++
							}
						}

						if (element.value != this.options[0][0] && index < numberOfOptions) {
							element.options[index].selected = true
						}
					}

					// calculate all Needed answers given value
					const filtered = this.options.filter(option =>
						option[1] != "")
					this.allNeededAnswersGiven = filtered.length >= this.neededAnswers
				})

			}
		},
		// parse json, configure form
		mounted() {
			var json = JSON.parse(veto)
			json["veto_allowed"] = json["veto_allowed"] == "True" ? true : false
			this.infoJson = json
			this.neededAnswers = json["min_votes"]
			this.configureAnswers()
		}
	})

</script>
{% endblock %}