{% extends "layout.html" %}

{% block title %}Daten anlegen{% endblock %}

{% block header %}Daten anlegen{% endblock %}

{% block body %}
{% if request.args.get('items_saved') %}
<div class="alert alert-success" role="alert">
	{{ request.args.get('items_saved') }} Einträge gespeichert!
</div>
{% endif %}

<p>Hier können Listen von Themen oder Teilnehmer gespeichert werden, um daraus später Verteilungen zu erstellen.</p>

<div class="mb-5">
	<h4>Teilnehmerliste anlegen</h4>
	<div class="row">
		<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
			<h6>Aus Datei laden:</h6>
			<form method=post action="{{ url_for('upload.teilnehmer_upload') }}" enctype="multipart/form-data">
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<span class="input-group-text" id="validationTooltipUsernamePrepend">Name der Teilnehmerliste</span>
					</div>
					<input type="text" id="teilnehmer_name" name="teilnehmer_name" class="form-control" placeholder="Name" required>
				</div>
				<div class="input-group mb-2">
					<input class='button' type="file" name="file" accept=".txt,.csv" required>
				</div>
				<div class="input-group mb-2">
					<input class="btn btn-primary" type="submit" value="Erstellen">
				</div>
			</form>
		</div>

		<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
			<h6>Manuell erstellen:</h6>
			<div id="app">
				<form method=post action="{{ url_for('upload.teilnehmer_manually') }}" enctype=multipart/form-data>
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text">Anzahl der Teilnehmer</span>
						</div>
						<input type="number" v-model="max_per" @change="onChange($event)" id="number_teilnehmer" name="number_teilnehmer" class="form-control" value="1">
					</div>
					<div class="input-group mb-2">
						<input class="btn btn-primary" type=submit value="Zur Erstellung">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<h4 class="mb-4">Themen / Gruppen anlegen</h4>
<div class="row">
	<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
		<h6>Aus Datei laden:</h6>
		<form method=post action="{{ url_for('upload.themen_upload') }}" enctype="multipart/form-data">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="validationTooltipUsernamePrepend">Name der Themen / Gruppen</span>
				</div>
				<input type="text" id="themen_name" name="themen_name" class="form-control" placeholder="Name" required>
			</div>
			<div class="input-group mb-2">
				<input class='button' type="file" name="file" accept=".txt,.csv" required>
			</div>
			<div class="input-group mb-2">
				<input class="btn btn-primary" type="submit" value="Erstellen">
			</div>
		</form>
	</div>

	<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
		<h6>Manuell erstellen:</h6>
		<div id="app">
			<form method=post action="{{ url_for('upload.themen_manually') }}" enctype=multipart/form-data>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<span class="input-group-text">Anzahl der Gruppen</span>
					</div>
					<input type="number" v-model="max_per" @change="onChange($event)" id="number_themen" name="number_themen" class="form-control" value="1">
				</div>
				<div class="input-group mb-2">
					<input class="btn btn-primary" type=submit value="Zur Erstellung">
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{{ url_for('static', filename='vue.js') }}"></script>
<script type="text/javascript">


	var app = new Vue({
		el: "#app",
		delimiters: ['${', '}'],
		data: {
			max_per: 1
		},
		methods: {
			onChange(event) {
				if (event.target.value <= 0) {
					this.max_per = 1
				}
			}
		}
	});

</script>


{% endblock %}

